//
// Extended from bootstrap 
//


// btn play

.btn-play {
  background-color: $white;
  color: $primary;
  transition: 0.2s ease;

  &:hover {
    background-color: $primary;
    color: $white;
    transition: 0.2s ease;
  }
}



// btn outline white

.btn-outline-white {
  border-color: $gray-300;
  color: $body-color;

  @include hover-focus {
    background-color: $gray-100;
    border-color: $gray-400;
    color: $body-color;
  }

  &.active {
    background-color: $gray-100;
    border-color: $gray-400;
    color: $body-color;
  }
}



// Sizing

.btn-xs {
  padding: $input-btn-padding-y-xs $input-btn-padding-x-xs;
  font-size: $input-btn-font-size-xs;
}




// btn icon 

.btn-icon {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .92969rem;
  font-weight: 400;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;

}




// onclick dropdown active btn icon

.dropdown.active.show .btn-icon {
  background-color: $light-primary;
  color: $primary !important;
}